<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[DSx.Caching.Abstractions]*</Include>
          <Exclude>
            [*.Tests]*, 
            [xunit.*]*, 
            [Moq]*,
            [FluentAssertions]*
          </Exclude>
          <ExcludeByFile>**/obj/**/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>